<!-- <new-cpn>
</new-cpn>
<app-student></app-student>
<class-ls *ngFor="let i of StdRCLR" [data]="i"></class-ls>
<fc-wt></fc-wt> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Navbar</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="weather">Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="class">Class</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="body">
    <router-outlet></router-outlet>
</div>
<!-- <nav>
    <ul>
        <li><a routerLink="app1">app2</a></li>
                <li><a routerLink="app2">app2</a></li>
                <li><a routerLink="weather">Weather</a></li>
                <li>
                    <a [routerLink]="['/class',class.id]">asdasdsa</a>
                </li>
            </ul>
</nav>
<section class="container-lg row">
    <div class="col-6">
        <router-outlet></router-outlet>
        <app-home></app-home>
    </div>
    <div class="col">
        <router-outlet name="appRT"></router-outlet>
    </div>

</section> -->