<!-- <new-cpn>
</new-cpn>
<app-student></app-student> -->
<!-- <class-ls *ngFor="let i of StdRCLR" [data]="i"></class-ls> -->
<!-- <ft-cpn></ft-cpn> -->
<!--- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="#" routerLink="class-r">Class Room</a></li>
            <li><a href="#" routerLink="weather">Weather</a></li>
        </ul>
    </nav>
    <section class="container-lg">
        <router-outlet></router-outlet>
    </section>
</body>

</html>
