.cnt-left {
    background: rgb(205, 205, 205);
}

.cnt-left ul li {
    list-style: none;
}

.cnt-left ul li a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    transition: all 1s;
}

.cnt-left ul li:hover a {
    text-decoration: underline;
}

.m-cnt {
    position: relative;
}

.m-cnt::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 0;
    background: black;
    bottom: 0;
    left: 0;
    transition: all 1s;
}

.m-cnt:hover::after {
    width: 100% !important;
    color: red !important;
}