.avata {
    background-color: #DDE2E7;
    border-radius: 50%;
    width: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.items {
    padding: 8px;
}

.items p {
    font-weight: 600;
    font-size: 22px;
}

.items .message {
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
}

.items-btn {
    box-shadow: 0 0 10px gray;
    transition: all 0.6s;
    border: 1px solid gray;
    margin: 10px 0;
}

.items-btn:hover {
    transform: scale(1.02);
    transform: translateX(10px);
}