<div *ngFor="let i of items;let j=index" [routerLink]="['/detail',j]" class="d-flex items" style="border-bottom:1px solid gray; border-left:1px solid gray">
    <div class="avata">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
    </div>
    <div>
        <p>{{i.name}}</p>
        <p class="message">{{i.message}}</p>
        <p>{{i.sayHi}}</p>
    </div>
</div>
