body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.OUTnav {
  width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  justify-content: space-around;
  background-color: white;
  border-bottom: 0.5px solid #dbdbdb;
}
.OUTnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
ul {
  list-style: none;
}
.nav li {
  padding: 10px;
  float: left;
}
.nav li a {
  color: #818181;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.nav li a:hover {
  display: flex;
  justify-content: center;
  color: #0f6c32;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f0f0;
  min-width: 160px;
  box-shadow: 0px 8px 16pz 0px #050505;
  z-index: 1;
  transition: 1s;
}
.dropdown-content::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 20px;
  border-bottom: 10px solid #dfdfdf;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.dropdown-content a {
  flex-direction: column;
  color: #8b8b8b;
  padding: 8px 16px;
  display: block;
  border-bottom: 0.5px solid #dbdbdb;
}
.dropbtn:hover {
  border-bottom: 3px solid #0f6c32;
}
.dropdown-content a:hover {
  color: #0f6c32;
}
.dropdown:hover .dropdown-content {
  margin-top: 10px;
  display: block;
}
