<div>
    <div class=" d-flex align-content-center">
        <img src="{{data.img}}" width="100" height="100" alt=""> <br>
        <p>{{data.name}}</p>
    </div>
    <div>
        <table style="border:1px solid black;border-collapse: collapse;">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{data.title}}</td>
            </tr>
            <tr>
                <td>Hire Date</td>
                <td>{{data.date}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{data.address}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{data.city}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{data.Phone}}</td>
            </tr>
        </table>
    </div>

</div>
