body {
    max-width: 2000px;
    margin: 0 auto;
    height: 1500px;
    display: flex;
    justify-content: center;
}

div {
    max-width: 400px;
    /* text-align: center;
    justify-content: center; */
    font-size: 400px;
    /* color: orange; */
    /* mau trong suot. 0.57 la do trong suot */
    color: rgba(14, 7, 15, 0.57);
    background: linear-gradient(rgb(246, 110, 110), white);
    /* khi du dien tich thi cac khoi se duoc dua sang trai */
    /* float: left;right;none */
    float: left;
    /* margin: calc(33.33% - 20px); */
    /* max-width: 33%; */
    margin: 40px;
    padding: 150px;
    /* box-sizing: border-box; khi da quy dinh kick thuoc r. thi no se auto dieu chinh kick thuoc  */
    box-sizing: border-box;
    position: relative;
}

div::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 190px solid white;
    border-right: 300px solid transparent;
}

div::before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    border-bottom: 190px solid white;
    border-left: 300px solid transparent;
}

div span {
    /* margin: 15px 10px 5px 20px; */
    /* top , right, bottom, left */
    /* nhin doi dien: top, left-right, bottom */
    /* chu y khac don vi tru */
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}