* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F0F2F5;
    max-width: 1750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    align-items: center;
    /* justify-content: space-around; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

input {
    border-width: 0.7px;
}

input:hover {
    border-color: #1877F2;
}

.inpt {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    margin: 300px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(180, 180, 180);
    /* margin-left: 200px; */
}

.ip-btn {
    font-size: 25px;
    margin: 10px 0;
    width: 250px;
    padding: 10px;
    border-radius: 8px
}

.btn {
    margin-top: 25px;
    background: #1877F2;
    border: none;
    font-size: 25px;
    color: white;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

table {
    /* padding-bottom: 250px; */
    margin-left: 50px;
    font-size: 20px;
    border-collapse: collapse;
}

table thead {
    top: 0;
}

table,
tr td,
tr th {
    border: 1px solid black;
}

tr th {
    text-align: center;
    width: 80px;
    height: 120px;
}

tr td {
    text-align: center;
    width: 200px;
    padding: 0 5px;
    overflow: hidden;
    box-sizing: content-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.fa-check-circle:before,
.fa-circle-check:before {
    content: "\f058";
    box-shadow: 0 0 6px green;
    border-radius: 50%;
}

tr td .name {
    display: flex;
    justify-content: center;
    width: 100%;
}

tr td button {
    position: relative;
    float: left;
    width: 40%;
    margin: 0 7px;
    height: 30px;
    bottom: -90px;
    border: none;
    border-radius: 5px;
    background: #00a300;
    color: white;
    font-size: 12px;
    opacity: 0.8;
    transition: all 0.3s;
}

tr td:hover button {
    bottom: -10px;
    opacity: 1;
}

tr td button:hover {
    transition: all 0.5s;
    background: #a72741;
    box-shadow: 0px 0px 10px 2px red;
}

tr td button span {
    opacity: 0.7;
}

tr td button:hover span {
    opacity: 1;
}

tr td button:checked {
    animation-delay: 5s;
}

tr td i {
    justify-content: center;
    text-align: left;
    font-size: 10px;
    margin: -20px 0 20px 0;
}

td .fa-solid {
    display: none;
    font-size: 15px;
    color: #00A300;
}

td .fa-solid span {
    margin-left: 10px;
    font-size: 8px;
    align-items: center;
    letter-spacing: 1px;
    color: black;
}

@media(max-width:952px) {
    tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    tr th {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    tr td {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 23px;
        height: 100px;
    }
    tr td:hover button {
        bottom: -2px;
    }
}