* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #E5E5E5;
}

.section {
    height: 100vh;
}

.container {
    width: 100%;
    /* height: 100%; */
}

form {
    max-width: 690px;
    margin: 50px auto 0;
    background: white;
    padding: 33px;
    box-shadow: 0 0 6px gray, 0 0 10px rgb(170, 170, 170);
    border-radius: 8px;
}

form div,
form[class="Crt"] {
    margin-bottom: 30px;
}

.ipBox {
    width: 100%;
    height: 45px;
    padding: 5px 5px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #E0E0E0;
}

.Bslop {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
}

.Bslop div {
    width: 48%;
}

.slop {
    width: 100%;
    height: 45px;
    padding: 5px 15px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid rgb(154, 154, 154);
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #E0E0E0;
}

.optity {
    position: relative;
}

.udline {
    opacity: 0.7;
    position: absolute;
    top: 49px;
    left: 15px;
}

.NofR {
    /* position: relative; */
    display: flex;
    margin-top: 50px;
}

.cl2 {
    /* position: absolute; */
    /* transform: translateX(90%); */
}

.col {
    display: flex;
    flex-direction: column;
    line-height: 45px;
}

.cl2 {
    margin-left: 22.5%;
    /* margin-left: 170px; */
}

.col [class="fit"] {
    opacity: 0.7;
}

.col input {
    font-size: 25px;
    margin-right: 15px;
}

@media screen and (max-width:520px) {
    .Bslop {
        flex-direction: column;
        width: 100%;
    }
    .Bslop div {
        width: 100%;
    }
    .cl2 {
        transform: none;
        margin: 0;
    }
    .NofR {
        flex-direction: column;
    }
}