<div class="container mt-5">
    <div class="row d-flex" style="border: 1px solid rgb(188, 188, 188);">
        <div class="col-4 d-flex flex-column pt-3 pb-3" style="border: 1px solid rgb(175, 175, 175);">
            <button class="employ" (click)="onClick(1)" type="button">
                <img class="avata ms-2 me-3 mb-3" src="assets/img/human2.png" width="70" height="70" alt="">
                <span class="name"> Margaret</span>
            </button>
            <button class="employ" (click)="onClick(2)" type="button">
                <img class="avata ms-2 me-3 mb-3" src="assets/img/human3.png" width="70" height="70" alt="">
                <span class="name"> Albert</span>
            </button>
            <button class="employ" (click)="onClick(3)" type="button">
                <img class="avata ms-2 me-3 mb-3" src="assets/img/human4.png" width="70" height="70" alt="">
                <span class="name"> Michale</span>
            </button>
        </div>
        <div class="col-8">
            <!-- <router-outlet></router-outlet> -->
            <app-info [data]="datainfo"></app-info>
        </div>
    </div>
</div>
