.col-2 {
    padding: 10px !important;
    margin-bottom: 25px !important;
    margin-right: 25px !important;
    width: 22.66666667% !important;
}

.wt-bg {
    background-image: url(./img/image.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.child {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    color: white !important;
    position: relative;
    transition: all 0.5s;
    box-shadow: inset -5px 5px 5px #00033a, inset -5px 4px 10px #6d6b6b, inset -5px 5px 15px #191919;
    overflow: hidden;
}

.child:hover {
    transform: scale(1.03);
}

.child::after {
    content: 'Chi tiết';
    position: absolute;
    right: 15px;
    bottom: -25px;
    font-size: 20px;
    text-decoration: underline;
    transition: all 0.6s;
}

.child:hover::after {
    bottom: 15px;
}

.row {
    justify-content: center !important;
}

.inp-city {
    position: relative;
    padding: 8px;
    text-align: center;
    font-size: 35px;
    background: none;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    color: white;
    margin: 25px 0;
}

.btn-search {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    margin: 25px 0;
}

.btn-search:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.location {
    color: white;
    font-size: 50px;
    padding: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}